.SentMessageBox{
	background-color: seagreen;
	color: white;
	width: fit-content;
	height: fit-content;
	max-width: 16rem;
	padding: 15px 30px;
	margin: 10px 10px 10px auto;
	text-align: left;
	border-radius: 10px;
}