body, html{
	/* position: relative; */
	display: flex;
	margin: 0;
	padding: 0;
	background-color: #222;
}

.OtherUserInfoContainer{
	position: fixed;
	top: 0;
	width: 100%;
}
/* .MessagesContainer{
	position: fixed;
} */
.FooterContainer{
	position: fixed;
	width: 100%;
	bottom: 0;
}