.OtherUserInfoContainer{
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
}
.DirectChatScreen{
	position: absolute;
	background-color: #222;
	width: 100%;
	padding-top: 3.4rem;
	padding-bottom: 5rem;
	transition-property: left;
	transition-duration: 0.5s;
} 

.MessageInputField{
	position: fixed;
	bottom: 2.7rem;
}
.userDescription.enter{
	position: absolute;
	width: 100%;
	left: -100%;
}
.userDescription.enter-active{
	position: absolute;
	width: 100%;
	left: 0;
	transition: left 200ms ease;
}
.userDescription-enter-done{
	position: absolute;
	width: 100%;
	left: 0;
}
.userDescription-exit{
	width: 100%;
	position:  absolute;
	left: 0;
}
.userDescription-exit-active{
	width: 100%;
	position: absolute;
	left: 100%;
	transition: left 200ms ease;
}
.userDescription-exit-done{
	width: 100%;
	position: absolute;
	left: 100%;
}

/* Contact Screen */
.OtherUser-enter{
	position: absolute;
	width: 100%;
	left: 100%;
}
.OtherUser-enter-active{
	position: absolute;
	width: 100%;
	left: 0;
	transition: left 200ms ease;
}
.OtherUser-enter-done{
	position: absolute;
	width: 100%;
	left: 0;
}
.OtherUser-exit{
	width: 100%;
	position:  absolute;
	left: 0;
}
.OtherUser-exit-active{
	width: 100%;
	position: absolute;
	left: 100%;
	transition: left 200ms ease;
}
.OtherUser-exit-done{
	width: 100%;
	position: absolute;
	left: 100%;
}