body, html{background-color: '#222' ;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
body::-webkit-scrollbar{
	display: none;
}
.App{
	width: 100%;
	background-color: '#222';
}

.footerContainer{
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 8;
}

.headerContainer{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 3;
}

/* Chat Screen */
.chatScreen-enter{
	position: absolute;
	width: 100%;
	left: -100%;
}
.chatScreen-enter-active{
	position: absolute;
	width: 100%;
	left: 0;
	transition: left 200ms ease;
}
.chatScreen-enter-done{
	position: absolute;
	width: 100%;
	left: 0;
}
.chatScreen-exit{
	position:  absolute;
	width: 100%;
	left: 0;
}
.chatScreen-exit-active{
	position: absolute;
	width: 100%;
	left: -100%;
	transition: left 200ms ease;
}
.chatScreen-exit-done{
	position: absolute;
	width: 100%;
	left: -100%;
}

/* Contact Screen */
.contactScreen-enter{
	position: absolute;
	width: 100%;
	left: 100%;
}
.contactScreen-enter-active{
	position: absolute;
	width: 100%;
	left: 0;
	transition: left 200ms ease;
}
.contactScreen-enter-done{
	position: absolute;
	width: 100%;
	left: 0;
}
.contactScreen-exit{
	width: 100%;
	position:  absolute;
	left: 0;
}
.contactScreen-exit-active{
	width: 100%;
	position: absolute;
	left: 100%;
	transition: left 200ms ease;
}
.contactScreen-exit-done{
	width: 100%;
	position: absolute;
	left: 100%;
}
.directChatScreen-enter{
	position: absolute;
	bottom: 0;
}
.directChatScreen-enter-active{
	position: absolute;
	bottom: 0;
}
.directChatScreen-enter-done{
}
