<<<<<<< HEAD
.Grp{
    width: 20%; 
    z-index: 5 ;
    padding-bottom: 5%;
    margin:auto;
    
}
.GrpPhoto{
    width:50%;
    height:50%;
}


=======
.UserPhoto{
    display: inline;
    vertical-align: middle;
}
>>>>>>> cdf1a42179c41a4cb23955535ea90eef49ea3e65
